.card-slider {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  padding: 50px 0;
  align-items: center;
}

.card-slider::-webkit-scrollbar{
  display: none;
}

.card {
  width: 300px;
  height: 200px;
  margin: 0px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 2px solid pink;
  padding: 15px 10px;
  border-radius: 20px;
  background: rgb(255, 219, 225);
  overflow: hidden;
  overflow-y: scroll;
  filter: blur(4px);
}

.card::-webkit-scrollbar {
  /* width: 0.5em; */
  display: none;
}

/* .card::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 1em;
} */

.card.active {
  transform: scale(1.2);
  filter: blur(0px);
  height: 300px;
  width: 500px;
}

.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  margin: 0 10px;
  background: #636363;
  border: 1px solid rgb(54, 54, 54);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: all ease 0.5s;
}
button:active{
  scale: 0.9;
}
